<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PF_ROOM_BD_FARMACIAS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityInicio"></activity>
        <activity android:name=".ActivityMedicos"></activity>
        <activity android:name=".ActivityAltasMedicos"></activity>
        <activity android:name=".ActivityBajasMedicos"></activity>
        <activity android:name=".ActivityCambiosMedicos"></activity>
        <activity android:name=".ActivityConsultasMedicos"></activity>

        <activity android:name=".ActivityPacientes"></activity>
        <activity android:name=".ActivityAltasPacientes"></activity>
    </application>

</manifest>